/* signin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain-sign {
    background-color: #080710;
    width: 100%;
    height: 750px;
}
.contain-sign .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.contain-sign .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.contain-sign .shape:first-child{
    background: linear-gradient(
        #dd222a,
        #f35058
    );
    left: -80px;
    top: -80px;
}
.contain-sign .shape:last-child{
    background: linear-gradient(
        to right,
        #237a9f,
        #4d99b9
    );
    right: -30px;
    bottom: -80px;
}
.contain-sign form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .contain-sign form{
        width:90%;
    }
}
.contain-sign .imag{
    text-align: center;
    width: 325px;
    height: 65px;
}
.contain-sign .imag img{
    max-width: 100%;
    max-height: 100%;
}
.contain-sign form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.contain-sign form .pass {
    position: relative;
}
.contain-sign form .pass i{
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
}
.contain-sign label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.contain-sign input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.contain-sign ::placeholder{
    color: #e5e5e5;
}
.contain-sign button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.contain-sign button:hover{
    background: linear-gradient(
        to right,
        #dd222a,
        #237a9f
    );
    color: #fff;
}
.contain-sign .social{
  margin-top: 30px;
  display: flex;
}
.contain-sign .social div{
  background: red;
  width: 50%;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  cursor: pointer;
}
.contain-sign .social div:hover{
    background: linear-gradient(
        to right,
        #dd222a,
        #237a9f
    );
    color: #fff;
}
.contain-sign .social .fb{
  margin-left: 25px;
}
.contain-sign .social i{
  margin-right: 4px;
}
/* register */
.contain-register {
    background-color: #080710;
    width: 100%;
    height: 750px;
}
.contain-register .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.contain-register .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.contain-register .shape:first-child{
    background: linear-gradient(
        #dd222a,
        #f35058
    );
    left: -80px;
    top: -80px;
}
.contain-register .shape:last-child{
    background: linear-gradient(
        to right,
        #237a9f,
        #4d99b9
    );
    right: -30px;
    bottom: -80px;
}
.contain-register form{
    height: 600px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .contain-register form{
        width:90%;
    }
}
.contain-register .imag{
    text-align: center;
    width: 325px;
    height: 65px;
}
.contain-register .imag img{
    max-width: 100%;
    max-height: 100%;
}
.contain-register form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.contain-register form .pass {
    position: relative;
}
.contain-register form .pass i{
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
}
.contain-register label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.contain-register input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.contain-register ::placeholder{
    color: #e5e5e5;
}
.contain-register button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.contain-register button:hover{
    background: linear-gradient(
        to right,
        #dd222a,
        #237a9f
    );
    color: #fff;
}
.contain-register .social{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.contain-register .social div{
  background: red;
  width: 50%;
  border-radius: 3px;
  padding: 10px;
  margin: auto;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  cursor: pointer;
}
.contain-register .social div:hover{
    background: linear-gradient(
        to right,
        #dd222a,
        #237a9f
    );
    color: #fff;
}
.contain-register .social .fb{
    margin: auto;
}
.contain-register .social i{
  margin-right: 4px;
}
